{{ $baseUrl := .Site.BaseURL }}

<form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
    <input name="sitesearch" type="hidden" value="{{ .Site.Params.domain }}">
    <input autocomplete="on" class="form-control search" name="q" placeholder="Search in {{ .Site.Params.domain }}" required="required"  type="text">
    <!-- <button class="button" type="submit">Search</button> -->
    <button style="border: none; background-color: transparent; cursor: pointer; margin: 0; padding: 0;" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>
    